<div class="container">
  <div class="row">
    <form>
      <div class="form-group m-3">
        <label for="name"><strong>Name:</strong></label>
        <input
          type="text"
          class="form-control my-2"
          id="name"
          placeholder="Enter name"
        />
      </div>
      <div class="form-group m-3">
        <label for="age"><strong>Age:</strong></label>
        <input
          type="number"
          class="form-control my-2"
          id="age"
          placeholder="Enter age"
        />
      </div>
      <div class="form-group m-3">
        <label for="rate"><strong>Rate:</strong></label>
        <input type="range" id="rate" />
      </div>
      <div class="form-group m-3">
        <label for="gender"><strong>Gender:</strong></label>
        <select name="gender" class="form-control my-2" id="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="form-group m-3">
        <label for="adress"><strong>Adress:</strong></label>
        <textarea
          class="form-control my-2"
          id="adress"
          rows="3"
          placeholder="Enter adress"
        ></textarea>
      </div>
      <div class="form-group m-3">
        <input type="checkbox" name="agree" id="agree" />
        <label for="agree">I agree to the terms and conditions</label>
      </div>
      <div class="form-group m-3">
        <button type="submit" class="btn btn-primary px-4">Submit</button>
      </div>
    </form>
  </div>
</div>
